{
  "env": {
    "jquery": true,
    "browser": true,
    "es6": true,
    "amd": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "quotes": [2, "single"]
  },
  "globals": {
    "hljs": true
  }
}
