img {
  max-width: 100%;
}

main {
  margin-top: 2em;
}

.ui.menu {
  margin-top: 0;
}

.ui.item.menu .item {
  text-transform: uppercase;
}

li > p {
  margin-bottom: 0;
}

code, pre {
  font-family: Consolas,Monaco,'Andale Mono',monospace;
}
